#mainHeading {
    background-color: crimson;
    text-align: center;
    color: white;
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
    text-shadow: 10px 10px 10px black;
    box-shadow: 5px 5px 5px blue;
}
#body {
    background-color: aqua;
}
#viratImg {
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px violet;
}
#dkImg {
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px violet;
}
#fafImg {
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px violet;
}
#maxImg {
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px violet;
}
#sirajImg {
    width: 250px;
    height: 250px;
    box-shadow: 10px 10px 10px violet;
}
#p1 {
    width: 200px;
    height: 200px;
    text-align: center;
    color: blue;
    background-color: hotpink;
}
#p2 {
    width: 200px;
    height: 200px;
    text-align: left;
    color: saddlebrown;
    background-color: chartreuse;
}
#p3 {
    width: 200px;
    height: 200px;
    text-align: center;
    color: orangered;
    background-color: aliceblue;
}
#p4 {
    width: 200px;
    height: 200px;
    text-align:justify;
    color: lime;
    background-color: crimson;
}
#p5 {
    width: 200px;
    height: 200px;
    text-align: right;
    color:deeppink;
    background-color: khaki;
}
#second{
    background-color:  red;
}
#head1{
    background-color: goldenrod;
    color: black;
    text-align: center;
    text-shadow: 10px 10px 10px white;
    box-shadow: 5px 5px 5px black;
    border-radius: 60px;
}